/* utility */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: rgb(255, 255, 255);
    --lightblue:rgb(180, 208, 231);
    --blue:rgb(0, 97, 255);
    --black:rgb(0, 0, 0);
}

.debug{
    border: 1px solid black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

.d-flex{
    display: flex;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;

}

.min-conteiner{
  max-width: 1000px ; 
  margin: 0 auto; 

}

ul{
    list-style: none;
    

}

a{
    text-decoration: none;
    color: var(--black);
}

/* header */

/* nav */
nav{
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
}

.d-flex-header{
    display: flex;
    padding-top: 5px;
    padding-left: 20px ;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
    
   
}
.d-flex-right{
    display: flex;
}

li {
    padding-left: 40px;
}

.button1{
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 15px;
    margin-right: 10px;

}



/* hero */

#hero{
    width: 100%;
    background-color: var(--lightblue);
    margin: 0 auto;
    padding: 80px;
}

#hero .conteiner{
    position: relative;
    bottom: -80px;
}

h1{
    font-size: 70px;
    padding: 50px;
    font-weight: 800;
}

.d30{
    width: 30%;

}

.di70{
    width: 70%;
}
img .di70{
    width: 100%;
}


/* footer */

footer{
    width: 100%;
    background-color: black;
    color: white;
}