/* utility */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: rgb(255, 255, 255);
    --lightblue:rgb(180, 208, 231);
    --blue:rgb(0, 97, 255);
    --black:rgb(0, 0, 0);
}

.debug{
    border: 1px solid black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

.d-flex{
    display: flex;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;

}

.min-conteiner{
  max-width: 1000px ; 
  margin: 0 auto; 

}

.space{
    padding-top: 150px ;
}

ul{
    list-style: none;
    

}

ul.d-flex a{
    text-decoration: none;
    color: var(--black);
}

/* header */

/* nav */
nav{
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
}

.d-flex-header{
    display: flex;
    padding-top: 5px;
    padding-left: 20px ;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
    
   
}
.d-flex-right{
    display: flex;
}

li {
    padding-left: 40px;
}

.button1{
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 15px;
    text-decoration: none;
    

}



/* hero */

#hero{
    width: 100%;
    background-color: var(--lightblue);
    margin: 0 auto;
    /* padding: 80px; */
}

#hero .conteiner{
    position: relative;
    bottom: -80px;

}

h1{
    font-size: 70px;
    padding: 50px;
    font-weight: 800;
}

#hero h2{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
}

.d30{
    width: 30%;

}

.di70{
    width: 70%;
}
#hero img{
    width: 100%;
}

#hero p{
    padding: 5px;
    font-weight: 600;
    margin-bottom: 50px;
}

#hero span{
    margin: 70px 30px;
    font-size: 50px;
    font-weight: 800;
}

/* main parte centrale */

main{
    margin-top: 200px;
}

main h2{
    font-size: 40px;
    padding-bottom: 80px;
}


 
.cont-card{
    margin-top: 80px;
    display: flex;
    align-items: stretch;
   
}

.card{
    width: 500px;
    height: 85vh;
    align-items: stretch;
    /* width: calc((100% / 3)-10px ); */
    margin: 0 10px;

}

.card-name{
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 100;

}
.center{
    text-align: center;
}

.material-symbols-outlined{
    color: var(--black);
   
}

h4{
    margin-left: 20px;
    font-size: 27px;

}

 .costo{
    margin: 20px;
    font-weight: 800;
}

h6{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 100;
    color: rgb(130, 130, 130);
}

.descrizione1{
    margin-top: 50px;
    margin-left: 20px;
    font-weight: 100;
}

.descrizione2{
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-weight: 100;
}
.descrizione3{
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 8px;
    font-weight: 100;
}


.card-button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: -40px;

}
.button2{
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 70px;
    margin-right: 10px;
    
}

.card-button a{
    text-decoration: none;
}

#buy-now{
    margin-left: 20px;
    
}

.best-point{
    margin-left: 20px;
    margin-top: 100px;

}

.best-point h2{
    font-size: 15px;
  
}

.best-point p{
    padding: 10px;
}

/* ultima card */
.min-conteiner{
   margin-top: 70px;
}

.last-desc{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
    font-weight: 100;
    margin-bottom: 30px;

}

.d-flex-last{
    display: flex;
    flex-direction: column;


}

.d-flex-last h5{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 50px;
}
.d-flex-last p{
    margin-left: 20px;
    margin-bottom: 30px;

}

    

.button3{
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    height: 40px;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    margin-left: 80px;
}


/* partner */
.img-left{
    float: left;
    width: 600px;
   
}

.h2-partner{

    margin-left: 30px;
    margin-top: 60px;
    font-size: 25px;

}

.p-partner{
    margin-top: -50px;
    margin-left: 30px;
    padding: 5px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.botton-partner{
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    padding: 8px 10px;
    margin-left: 30px;
    margin-top: 10px;
    text-decoration: none;
}

/* business */
.conteiner-busi1{
    width: 100%;
    height: 30vh;
}

.item-busi{
    width: calc(100% / 3);
    margin-left: 30px;
}

.item-busi img{
    float: inline-start;
    width: 300px;

}

.item-busi p{
    margin-top: 20px;
}

/* sezione 5 */

/* section6 */

/* sezione7 */
.bg7{
    background-color: rgb(180, 208, 231);
}

.bg7 h2{
    margin-top: 100px;
    color:rgb(97, 8, 43) ;
}

.button4{
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--black);
    padding: 12px;
    width: 300px;
    height: 40px;
    text-decoration: none;
    margin-left: 350px;
    margin-top: 100px;
    text-align: center;
}
 /* section8 */

 .d-flex8{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    height: 140px;
   align-items: center;
 }

 .d-flex8 p{
    font-size: 15px;
    font-weight: 700;
 }

 .bordo{
    border-bottom:1px solid black ;
 }

 .dropbtn {
    margin-top:-5px;
    padding-left: 0px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  









/* footer */
footer{
    width: 100%;
    background-color: black;
    color: white;
}