/* utility */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: rgb(255, 255, 255);
    --lightblue:rgb(180, 208, 231);
    --blue:rgb(0, 97, 255);
    --black:rgb(0, 0, 0);
}

.debug{
    border: 1px solid black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

.d-flex{
    display: flex;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;

}

.min-conteiner{
  max-width: 1000px ; 
  margin: 0 auto; 

}

ul{
    list-style: none;
    

}

ul.d-flex a{
    text-decoration: none;
    color: var(--black);
}

/* header */

/* nav */
nav{
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
}

.d-flex-header{
    display: flex;
    padding-top: 5px;
    padding-left: 20px ;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
    
   
}
.d-flex-right{
    display: flex;
}

li {
    padding-left: 40px;
}

.button1{
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 15px;
    margin-right: 10px;

}



/* hero */

#hero{
    width: 100%;
    background-color: var(--lightblue);
    margin: 0 auto;
    /* padding: 80px; */
}

#hero .conteiner{
    position: relative;
    bottom: -80px;

}

h1{
    font-size: 70px;
    padding: 50px;
    font-weight: 800;
}

#hero h2{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
}

.d30{
    width: 30%;

}

.di70{
    width: 70%;
}
#hero img{
    width: 100%;
}

#hero p{
    padding: 5px;
    font-weight: 600;
    margin-bottom: 50px;
}

#hero span{
    margin: 70px 30px;
    font-size: 50px;
    font-weight: 800;
}

/* main parte centrale */

main{
    margin-top: 200px;
}

main h2{
    font-size: 40px;
    padding-bottom: 80px;
}


 
.cont-card{
    margin-top: 80px;
    display: flex;
    align-items: stretch;
   
}

.card{
    /* width: 250px; */
    height: 80vh;
    align-items: stretch;
    width: calc(100% / 3 );

}

.card-name{
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 100;

}
.center{
    text-align: center;
}

.material-symbols-outlined{
    color: var(--black);
   
}

h4{
    margin-left: 20px;
    font-size: 27px;

}

 .costo{
    margin: 20px;
    font-weight: 800;
}

h6{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 100;
    color: rgb(130, 130, 130);
}

.descrizione1{
    margin-top: 50px;
    margin-left: 20px;
    font-weight: 100;
}

.descrizione2{
    margin-top: 30px;
    margin-left: 20px;
    /* padding: 10px; */
    font-weight: 100;
}
.card-button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: -40px;

}
.button2{
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 70px;
    margin-right: 10px;
}

.card-button a{
    text-decoration: none;
}

#buy-now{
    margin-left: 20px;
    
}

.best-point{
    margin-left: 20px;
    margin-top: 100px;

}

.best-point h2{
    font-size: 15px;
  
}

.best-point p{
    padding: 10px;
}


footer{
    width: 100%;
    background-color: black;
    color: white;
}